# Winning Jeopardy

In this project, I'll work with the data jeopardy to increase my probility to win in a Jeopardy show.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
jeopardy=pd.read_csv('jeopardy.csv')
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [7]:
jeopardy.columns=jeopardy.columns.str.strip().str.replace(' ','_').str.lower()

In [8]:
jeopardy.columns

Index(['show_number', 'air_date', 'round', 'category', 'value', 'question',
       'answer'],
      dtype='object')

In [9]:
import re

def str_standard(strr):
    strr = strr.lower()
    strr = re.sub("[^A-Za-z0-9\s]", "", strr)
    return strr

jeopardy['clean_question']=jeopardy['question'].apply(str_standard)
jeopardy['clean_answer']=jeopardy['answer'].apply(str_standard)

jeopardy.head()

,show_number,air_date,round,category,value,question,answer,clean_question,clean_answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams

In [12]:
def num_standard(strr):
    strr = strr.lower()
    strr = re.sub("[^A-Za-z0-9\s]", "", strr)
    try:
        strr=int(strr)
    except Exception:
        strr=0
    return strr
jeopardy['clean_value']=jeopardy['value'].apply(num_standard)
jeopardy.head()

,show_number,air_date,round,category,value,question,answer,clean_question,clean_answer,clean_value
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200

In [13]:
jeopardy['clean_date']=pd.to_datetime(jeopardy['air_date'])
jeopardy.head()

,show_number,air_date,round,category,value,question,answer,clean_question,clean_answer,clean_value,clean_date
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200,2004-12-31
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200,2004-12-31
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200,2004-12-31
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200,2004-12-31
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200,2004-12-31

In [14]:
def whether_ded(row):
    split_answer=row['clean_answer'].split(' ')
    split_question=row['clean_question'].split(' ')
    match_count=0
    split_answer=[v for v in split_answer if v!='the']
    split_question=[v for v in split_question if v!='the']
    if len(split_answer)==0:
        return 0
    for ele in split_answer:
        if ele in split_question:
            match_count+=1
    return match_count/len(split_answer)

jeopardy['answer_in_question']=jeopardy.apply(whether_ded,axis=1)
mean_answer=jeopardy['answer_in_question'].mean()
mean_answer

0.059877607599993714

## Answer terms in the question

The answer only appears in the question about 6% of the time. This isn't a huge number, and means that we probably can't just hope that hearing a question will enable us to figure out the answer. We'll probably have to study.

In [16]:
jeopardy_sort=jeopardy.sort_values('clean_date',axis=0)
jeopardy_sort.head()

,show_number,air_date,round,category,value,question,answer,clean_question,clean_answer,clean_value,clean_date,answer_in_question
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,1984-09-21,0.0
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,1984-09-21,0.0
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,1984-09-21,0.0
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this ...,the grand canyon,200,1984-09-21,0.0
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,1984-09-21,0.0

In [20]:
question_overlap=[]
terms_used=set()
for i,row in jeopardy_sort.iterrows():
    split_question=row['clean_question'].split(' ')
    split_question=[v for v in split_question if len(v)>=6]
    match_count=0
    for ele in split_question:
        if ele in terms_used:
            match_count+=1
        terms_used.add(ele)
    if len(split_question)>0:
        match_count/=len(split_question)
    question_overlap.append(match_count)
jeopardy_sort['question_overlap']=question_overlap
mean_overlap=jeopardy_sort['question_overlap'].mean()
mean_overlap

0.6894031359073245

## Question overlap

There is about 70% overlap between terms in new questions and terms in old questions. This only looks at a small set of questions, and it doesn't look at phrases, it looks at single terms. This makes it relatively insignificant, but it does mean that it's worth looking more into the recycling of questions.

In [23]:
def whether_high_value(row):
    if row['clean_value']>800:
        return 1
    else:
        return 0

jeopardy_sort['high_value']=jeopardy_sort.apply(whether_high_value,axis=1)

def high_low_count(word):
    low_count=0
    high_count=0
    for i,row in jeopardy_sort.iterrows():
        split_question=row['clean_question'].split(' ')
        if word in split_question:
            if row['high_value']==1:
                high_count+=1
            else:
                low_count+=1
    return (high_count,low_count)

observed_expected=[]

comparison_terms=list(terms_used)[0:5] # Here I just select 5 elements to show an example.

for words in comparison_terms:
    observed_expected.append(high_low_count(words))
    
observed_expected

[(1, 0), (0, 2), (0, 1), (1, 0), (0, 1)]

In [24]:
comparison_terms

['mosely', 'wrigley', 'reefer', 'medicalsounding', 'obsesses']

In [25]:
from scipy.stats import chisquare
high_value_count=(jeopardy_sort['high_value']==1).sum()
low_value_count=(jeopardy_sort['high_value']==0).sum()

chi_squared=[]
for high,low in observed_expected:
    total=high+low
    total_prop=total/jeopardy_sort.shape[0]
    expected_high=high_value_count*total_prop
    expected_low=low_value_count*total_prop
    chisq,p=chisquare([high,low],[expected_high,expected_low])
    chi_squared.append((chisq,p))
    
chi_squared

[(2.487792117195675, 0.11473257634454047),
 (0.803925692253768, 0.3699222378079571),
 (0.401962846126884, 0.5260772985705469),
 (2.487792117195675, 0.11473257634454047),
 (0.401962846126884, 0.5260772985705469)]

## Chi-squared results

None of the terms had a significant difference in usage between high value and low value rows. Additionally, the frequencies were all lower than 5, so the chi-squared test isn't as valid. It would be better to run this test with only terms that have higher frequencies.